* {
    margin: 0;
    padding: 0;
}

/* -------------------Cabeçalho--------------------- */
/*-----------------todas as páginas----------------- */ 

.cabeçalho {
    background-color: rgba(0, 70, 109, 1);
    font-style: bold;
    color: white;
    padding:0px 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.imagem-logo{
    width: 10%;
    padding-right: 860px;
}

.naveg{
    padding-left: 100px;
    padding-right: 0px;
}

.naveg-item{
    color: white;
    display: inline-block;
    font-size: 24px;
    margin: 0 30px;
}

/* -------------------Apresentação--------------------- */

.apresentando{
    background: linear-gradient(rgb(15, 102, 148),black);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 24px 200px 0;
    color: rgb(255, 255, 255);
}

.apresenta{
    font-weight: bold;
    font-size: 20px;
    margin: 0px 0px 0px 0px;
    padding: 100px 0px 100px 0px;
}

.apresenta {
    width: 35%;
    text-align: center;
}

.t-pri {
    padding-bottom: 25px;
    font-size: 30px;
}

.t-sec {
    padding-bottom: 25px;
}

.lista1 {
    padding-top: 25px;
    padding-bottom: 25px;
    list-style: inside;
}

.imagem-apresenta{
    width: 45%;
    padding-left: 100px;
}

/* -------------------Seção Robotica Parana--------------------- */

.rob-educa  {
    background:black; 
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 0px 0 200px 0;
}

.par-rob-par {
    font-size: 35px;
    padding: 0px 0 35px 0;
}

.par-rob-par-2 {
    font-size: 25px;
    padding: 0px 0 15px 0;
} 

.div-img {
    padding: 35px 0 35px 0;
    display:flex;
    justify-content: center;
    background:black; 
}

.rob-imagens {
    align-items: center;
    width: 70%;
}

.links-parana {
        display:flex;
        justify-content: center;
        align-items: center;
        background:black; 
        color: white;
        font-weight: bold;
}
    
.rob-imagens-2 {
    width: 63%;
    align-content:center;
    padding: 200px 0px 200px 100px;
}

.rob-imagens-3 {
    width: 70%;
    align-content:center;
    padding: 200px 0px 200px 0px;
}

/* -------------------Secção Links SEED--------------------- */

.links-parana-texto {
    background:black; 
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 200px 0 50px 0;
}



/* -------------------Rodapé --------------------- */

footer {
    background:linear-gradient(black,rgba(0, 70, 109, 1)); 
    color: white;
    font-size: 25px;
    text-align: center;
    padding: 50px 0 50px 0;
}



/* -----------Folha de estilos - Página Projetos------ */


.title{
    background-image: linear-gradient(rgba(0, 70, 109, 1),black);
    font-style: bold;
    color: white;
    padding:50px 0px 50px 0px;   
    display: flex;
    justify-content: center;
    align-items: center;
}

.p-title{
    font-size: 45px;
    font-weight: bolder;
    color: white;
}

.body-project {
    background-color: black;
}

.p-text {
    font-size: 25px;
    color: white;
    padding: 0px 0 15px 0;
    padding:400px 0px 400px 0px;  
} 